[2018-06-20 12:31] mb290 opened #6 "Azure Stack Storage Account features don't support some of the documented functionality"
Great to see that Azure Stack support is here!

I started reading through the resource documentation and there looks to be some functionality documented which I don't believe works in Azure Stack.

A document showing some of the differences are here:

[https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-acs-differences](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-

[2018-06-29 09:28] martinbjorgan opened #8 "Unable to create virtual machine with azure stack provider"
Hi and thanks for adding support for the Azure Stack provider!
You guys are doing a fantastic job.

I have, however, some issues....

1) In the documentation for the azurestack_virtual_machine, azurestack_managed_disk is listed as an option. As far as I can see, that's not supported by the provider?

2) I'm able to provision resource group, VNET and subnet without any problems, but today I had to

[2018-06-29 09:39] martinbjorgan commented on #8
...manged disks are not supported in stack, using storage account and storage container works.
Closing this.

[2018-06-29 09:39] #8 closed

[2018-07-16 15:50] paultyng commented on #6
@mb290 it was just an oversight that it was left in, feel free to submit the PR, and good catch :)

There will be some new resources coming relatively soon, but nothing that isn't publicly available as far as I'm aware.

[2018-07-17 13:24] MilanNXT opened #11 "AzureStack ADFS login SPN"
It seems current provider would work only with AAD deployed AZS. I haven't found anywhere how to configure SPN with certificate for ADFS deployed AZS.

[2018-08-10 03:04] katbyte commented on #6
Hi @mb290,

As the difference you have pointed out was fixed in that PR i am going to close this issue now. Feel free to open PRs for any additional changes that need to be made 🙂

[2018-08-10 03:04] #6 closed

[2018-08-24 07:55] martinbjorgan opened #32 "Feature request: Data source for azurestack_subnet"
It would be great to have a data source for azurestack_subnet

Example terraform code:
[code]

[2018-09-08 17:49] #32 closed

[2018-09-13 12:30] martinbjorgan opened #39 "[Feature request]: azurestack_image"
Add support to create a custom virtual machine image that can be used to create virtual machines.

[2018-09-14 13:58] paultyng opened #44 "Managed disk functionality is commented out but still in schema"
https://github.com/terraform-providers/terraform-provider-azurestack/blob/e9440bae2be3e8e06a42dddacea0898271a39df7/azurestack/resource_arm_virtual_machine.go#L998-L1001

And the `vhd_uri` is probably `Required` I think if that is the case?

https://github.com/terraform-providers/terraform-provider-azurestack/blob/e9440bae2be3e8e06a42dddacea0898271a39df7/azurestack/resource_arm_virtual_machine.go#L

[2018-09-18 06:14] martinbjorgan commented on #44
We have updated and are waiting for this as well :) 👍

[2018-09-20 07:01] dmc-tech commented on #11
This is a feature I also require.  Is anyone working on this?  I see more and more customers deploying Azure Stack with AD FS as the identity provider.

[2018-10-02 09:15] tuthan opened #50 "[Feature request] AzureStack AppService Support?"
I have read the docs but seem currently Azure-stack haven't provide support for App Service on Azure-stack yet. Is there any plan?

[2018-10-11 09:35] dmc-tech commented on #11
The Azure Stack Go SDK includes the option for using certificate based auth so should be possible? https://github.com/Azure/azure-sdk-for-go#more-authentication-details

[2018-10-12 01:47] tombuildsstuff commented on #11
@dmc-tech to give an update here: this is something we'd need to implement across all the Azure Providers (AzureRM, Azure Stack and the Azure Backend). It's something we're thinking about at the moment but we're holding off until we're able to make the changes to the Backend (since we're planning on pulling this logic out into a shared package at the same time) - which is currently blocked on some

[2018-10-12 06:41] dmc-tech commented on #11
Thanks @tombuildsstuff .  Will be good to have Packer integration too, so totally makes sense.

[2018-10-12 07:50] MilanNXT commented on #11
That would be great, looking forward

[2018-11-19 16:07] tombuildsstuff commented on #11
👋

To give an update here: [the authentication package has been split out from AzureRM](https://github.com/hashicorp/go-azure-helpers) - which has support for Client Certificate authentication. We're working on integrating that at the moment - once that's been merged we'll then add the documentation and enable Client Certificate authentication in a subsequent update :)

Thanks!

[2018-12-13 09:31] bentterp opened #60 "Crash during apply"
I think that this crash belongs with the provider rather than TF itself.

Terraform v0.11.10
+ provider.azurestack v0.4.0

[crash.log](https://github.com/terraform-providers/terraform-provider-azurestack/files/2675298/crash.log)

The ressources were created by hand and imported.

[code]

[2018-12-13 16:01] bentterp opened #61 "Something looks wrong in the documentation azurestack_virtual_machine"
Looks like there was a mixup in the text of delete_os_disk_on_termination flag and storage_os_disk  block

[2018-12-14 09:06] #61 closed

[2018-12-17 21:16] #11 closed

[2018-12-20 01:03] mssh2001 opened #63 "make build failed on windows 2016 server"
Hi there ,
by following "Building The Provider", the step of "make build"  failed on windows 2016 server  as follows
any input ?

thanks
2018-12-19
====
C:\work\src\github.com\terraform-providers\terraform-provider-azurestack>make build
==> Checking that code complies with gofmt requirements...
gofmt needs running on the following files:
./azurestack/azurestack_sweeper_test.go
./azurestack/config.

[2018-12-20 01:12] mssh2001 commented on #63
with go1.11.4 and  v0.11.11

[2018-12-20 01:35] #63 closed

[2019-01-09 21:23] CharbelNemnom commented on #44
Any update please about Azure Stack Managed Disk with Terraform?
Thank You!

[2019-01-11 18:43] katbyte commented on #44
@martinbjorgan & @CharbelNemnom,

There is an open PR #52 for this functionality. Its most of the way there and just needs some minor vendoring fixes IIRC.

[2019-01-11 19:44] CharbelNemnom commented on #44
Thank you for the update, much appreciated!
Keep up the good work.

[2019-02-04 22:59] appilon opened #69 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-03-13 00:59] katbyte commented on #69
PR: #70

[2019-03-14 02:29] #69 closed

[2019-03-14 20:07] #60 closed

[2019-03-14 20:10] katbyte commented on #60
Hi @bentterp,

Sorry that you're having this issue. Its a bit hard to know exactly what is causing it without a config but based on the crash log I've just merged #71 that I hope will fix this for you.

[2019-04-25 13:50] sGrindvoll opened #80 "Support for Active-Active s2s VPN configuration"
Azurerm provider have gotten support for configuring active-active VPN connection in azurerm.virtual_network_gateway. Additionally you need two public IPs, and two ipconfiguration for the Virtual Network Gateway.

This would allow redundant VPN connections!

Some references for configuration with other methods:
Powershell: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-activeactive

[2019-04-26 13:32] obikay200 opened #81 "os_profile not adding user to vm during creation. Azure stack disconnected."
when creating either a windows vm or a linux vm, the user isnt being added.

even though the terraform apply works and the tasks complete im not seeing any errors.

[2019-04-26 15:02] obikay200 commented on #81
Update, certain special characters in the password like $ will break the deployment but not give an error.

[2019-05-14 14:16] blunozr opened #82 "Unable to authenticate to Azure Stack using secret based Service Principal"
**Versions**
[code]
**Stack Information**
- ADFS enabled

**Issue**
I'm just running a simple test against our stack by creating a resource group using a service principal that has been assigned "contributor"permissions.  However, when I run terraform plan, I receive the following error:
[code]

I have confirmed that the SP has the correct privileges as I'm able to authenticate and create a resour

[2019-06-10 09:18] jbpaux commented on #80
According to https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-network-differences Active-Active VPN are not supported (and cannot be configured) on Azure Stack.
You can close this issue as it's not one.

[2019-06-15 11:06] bottkars opened #90 "release 0.7.0, 0.8.0 of Azurestack Provider not compatible with AzureStack 1905/1906 --- wrong autorest ?"
I all,
we recently moved to Azurestack 1905. i turns that some calls, specially storage, no longer work.

the error can be reproduced with the storage example
`https://www.terraform.io/docs/providers/azurestack/r/storage_account.html`

[2019-06-15 11:06] bottkars commented on #90
was tested against asdk 1905 from powershell and linux

[2019-06-17 07:45] wellsluo opened #91 "Provider "azurestack" v0.7.0 is not compatible with Terraform 0.12.2."
Run Terraform 0.12.2 with Azure Stack configuration file.

Error reported from "Terraform init":

Provider "azurestack" v0.7.0 is not compatible with Terraform 0.12.2.

Provider version 0.6.0 is the latest compatible version. Select it with
the following constraint:

    version = "~> 0.6"

Terraform checked all of the plugin versions matching the given constraint:
    ~> 0.6

Consult the document

[2019-06-18 05:50] bottkars commented on #91
0.7 works with < 0.12, latest 0.11 works

[2019-06-18 05:58] tombuildsstuff commented on #91
@wellsluo @bottkars apologies about this, this was a missed setting on the release; I'll open an issue internally to get this resolved

[2019-06-18 08:39] bottkars commented on #91
Great . If you have have a beta I could Grab meanwhile it would be great. Was not able to build tiny myself 😎

Von meinem iPhone gesendet

Am 18.06.2019 um 07:58 schrieb Tom Harvey <notifications@github.com<mailto:notifications@github.com>>:

@wellsluo<https://github.com/wellsluo> @bottkars<https://github.com/bottkars> apologies about this, this was a missed setting on the release; I'll open an is

[2019-06-18 16:51] tombuildsstuff commented on #91
hey @wellsluo @bottkars

Just to let you know that this has been resolved and that `terraform init` now returns 0.7.0 using Terraform 0.12:

[code]

I'm going to close this issue for the moment but please let us know if that doesn't work for you and we'll take another look :)

Thanks!

[2019-06-18 16:51] #91 closed

[2019-06-19 07:36] #44 closed

[2019-06-19 10:22] bottkars commented on #11
is the support for ADFS implemented now or still pending ??

[2019-06-19 17:50] jbmcfarlin31 commented on #90
@bottkars Currently seeing this same error, although I am running version `0.6.0` of the provider on terraform version `0.11.14`. We just recently upgraded our stack to the 1905 build also.

[2019-06-20 12:34] LynxPantera commented on #90
Hi @bottkars, @jbmcfarlin31,
I also have the same problem with the new version 1905 build, I did the tests with Terraform `0.12.2` and the provider version `0.7.0`.

[2019-06-25 11:23] jbpaux commented on #90
Can you try with the 0.8.0 released yesterday ?

[2019-06-26 09:11] LynxPantera commented on #90
Hello @jbpaux,
I just did a new deployment test with Terraform `0.12.3` and the Azure Stack `0.8.0` provider and I still have the same problem.

[2019-06-26 20:49] jselleck commented on #90
We tested with 0.8.0 and have the same issue.

[2019-06-26 22:08] bottkars commented on #90
Same here .

[2019-06-28 11:52] jbpaux commented on #90
In that case, can you rename the title of the issue to 0.8.0 too ?
I haven't had the change to try it yet. Strugling to try to auth with azure-cli token in a disconnected env (the one you came for in Paris @bottkars 🤣 ).

[2019-06-29 11:12] DinoBordonaro commented on #90
I see the same with 0.8.0 and Azure Stack Release 1906 on my Multinode System

[2019-07-08 04:11] wellsluo commented on #90
Just want to check if there are any updates on this issue?

[2019-07-08 04:41] cblackuk commented on #90
Would be awesome to know :-) so +1

[2019-07-08 14:52] jbmcfarlin31 commented on #90
Our primary resource handler is azure stack so this is hindering us quite a bit.. +1 on if there is any updates

[2019-07-08 16:32] jbmcfarlin31 opened #98 "Cannot apply terraform plan in v0.7.0 AND v0.8.0 using Client Secret key"
Using the azure stack provider version `0.8.0` and terraform version `0.11.14`, I get the following error when trying to plan and apply:
[code]

I have to forcefully `CTRL+C` out of the execution otherwise it just sits there and hangs. This originally started happening to me in version `0.7.0` of the stack provider as well. This works using version `0.6.0`, however, that becomes null and void with

[2019-07-08 19:12] tombuildsstuff commented on #90
👋

Thanks for opening this issue.

The Azure Stack instance that we have access to isn't currently running 1905 so we're not seeing this error in our tests unfortunately (but we're reaching out/working on this) - but taking a look into this (and comparing with AzureRM) I believe the casing on the Resource ID has changed for the Storage Account which means this is being parsed out as an empty strin

[2019-07-08 19:48] cblackuk commented on #90
@tombuildsstuff

[code]

So yeah ID is with uppercase A:
[code]

I hope that helps.

On Tenant side - same thing.

[2019-07-08 20:27] tombuildsstuff commented on #90
@cblackuk thanks for confirming that - I believe #99 should fix this then 👍

[2019-07-08 20:38] cblackuk commented on #90
Awesome!!! The PR looks legit, if that was the only issue it has got a chance to fix it :-)

Thanks @tombuildsstuff

[2019-07-09 04:26] #90 closed

[2019-07-09 14:42] jbmcfarlin31 commented on #98
Updating... tried using this with the azure stack provider version `0.8.1` that was just released and I am still seeing this same problem... I cannot provision against stack build 1905 and 1906.

[2019-07-10 10:29] LynxPantera opened #100 "Sku "Aligned" not available for Availability Set"
Hi all,

We tried to create Availability Sets with VMs having managed disks. Unfortunately we have an error, specifying that the Availability Sets must have the Sku "Aligned".
However, according to the Provider's source code, this option is not available (apparently commented).

Would it be possible to add this feature?

Error with Terraform:

[2019-07-11 19:29] EtienneDeneuve commented on #100
@LynxPantera can you send your template to check something ?

[2019-07-15 14:37] LynxPantera commented on #100
Hi @EtienneDeneuve,
Here is my main.tf file:
[code]

[2019-07-15 20:15] jbmcfarlin31 commented on #98
@tombuildsstuff is there any update on when you might be able to upgrade your stack to 1905 and/or provide a patch for this? We are getting hit pretty hard with not being able to provision through terraform into our stack instance...

[2019-07-29 21:29] jbmcfarlin31 commented on #82
@blunozr I think this is similar to my #98 - by chance, what build of stack are you running? This stopped working for me on the build 1905 for stack.

[2019-07-30 20:48] jbmcfarlin31 commented on #98
@thetonymaster @katbyte @tombuildsstuff Stack build 1907 is being deployed within the week... are there any updates on when this will be fixed? Thanks!

[2019-08-06 11:38] welabbar1 opened #101 "Azurestack_subnet data source: virtual_network_name and resource_group_name are being switched"
Hi,

I created a simple TF to provision a VM using an existing Resource Group, VNET, and Subnet:

data "azurestack_subnet" "vmsubnet" {
  name                 = "***my RG's subnet ***"
  virtual_network_name = "${data.azurestack_virtual_network.rgnetwork.name}"
  resource_group_name  = "${data.azurestack_resource_group.vmrg.name}"
}

but i get this odd error when it reaches VM NIC creation:

Error

[2019-08-06 12:40] #101 closed

[2019-08-08 22:07] jbmcfarlin31 commented on #98
@tombuildsstuff @katbyte @cblackuk I managed to get around the initial authentication error by simply modifying the `go.mod` file and updating dependencies to their latest verisions...

The `go.mod` file looks like this now:
[code]
Upon trying to build the binary, it failed as some function references were expecting `WaitForCompletionRef` instead of `WaitForCompletion`. After that the binary build

[2019-08-08 23:03] jbmcfarlin31 commented on #98
@tombuildsstuff Just to update... I restarted over with the current master repo and started only upgrading one dependency at a time to try and retain current functionality, but get passed the authentication error as described aboved. I managed to succeed...

You will need to change the `github.com/Azure/azure-go-autorest` version to be as follows:
[code]
This will allow the adal piece (I believe)

[2019-08-09 14:03] jbpaux commented on #98
Hi @jbmcfarlin31 I tried your changes but still no luck with terraform plan. Same error.
Did you do other changes ? Do you have working branch on your fork ?
Did you do some special steps before make build ? (I did a go mod tidy/go mod vendor)

[2019-08-09 16:19] jbmcfarlin31 commented on #98
@jbpaux my current branch is one where I was making a ton of changes (upgrading all the dependencies) and ran into the storage container problem. I then re-cloned the master repo here and began changing single dependencies. Keep in mind I am running on azure stack build `1907` but this should work for `1905` and `1906`.

What errors are you seeing that is preventing you to plan? Some things I noti

[2019-08-13 21:18] jbmcfarlin31 commented on #100
@LynxPantera @EtienneDeneuve I tried the same thing and got the same result... this would definitely be a +1 as we are moving to managed disks as well!

[2019-08-13 21:39] jbmcfarlin31 commented on #100
@LynxPantera @EtienneDeneuve I actually got this working in my own repo... my azure stack instance is running the latest build 1907 so I had to make some dependency changes, but I am able to compile the go binary and use the provider in my terraform configuration using `managed = true` for my availability set.

My repo can be found here: [Terraform azure stack provider](https://github.com/jbmcfarl

[2019-08-21 15:08] petems commented on #100
@jbmcfarlin31 Your change seems like it resolves the issue! I've just rebased it and opened as a PR

[2019-08-22 01:22] katbyte commented on #82
Hi @blunozr,

For ADFS it appears we need to pass in something different from tenant ID, could you try changing it to `adfs` and seeing if that works?

[2019-08-29 19:55] pbolduc commented on #50
I am working with a client who recently deployed Azure Stack. I would like to recommend them adopt terraform over raw ARM templates.  However, the lack of App Service is a show stopper.  I dont mind helping getting this done and tested.  I just dont know the approach. It is difficult to know where to start.

* project seems to use the Go SDK for Azure which is generated using autorest from the Ope

[2019-08-30 12:16] tombuildsstuff commented on #50
@pbolduc

That'd be awesome, thanks!

In general we're copying resources over from [the AzureRM Provider](https://github.com/terraform-providers/terraform-provider-azurerm) as needed but switching the SDK to use the Profile exposed in the Azure SDK rather than using specific API versions (since this is Microsoft's recommendation for developing applications for Azure Stack).

Each Terraform Provide

[2019-08-30 15:03] pbolduc commented on #50
It it possible to do the initial development against Azure Cloud and then do the final testing against Azure Stack. i.e., Do all the API versions used in Stack exist in Azure Cloud?  The reason I ask is the Azure Stack instance I have access to requires me to VPN into the office on a specific computer that has other limitations.  I would like to use my MSDN Azure Subscription to setup the initial

[2019-08-30 15:45] tombuildsstuff commented on #50
You can certainly try - but in my experience this'll be challenging since Azure Stack behaves differently to Azure Public in the same API endpoints (for example some functionality [e.g. SSD's] isn't supported in Azure Stack but is available in Public) as such I'd suggest it's probably easiest to develop against the Azure Stack instance if you can

[2019-09-02 23:45] katbyte commented on #98
Hi @jbmcfarlin31,

Just a heads up we have upgraded stack to a more recent autorest & SDK version. Could you potentially give it a try and see if it fixes this issue? thanks!

[2019-09-02 23:46] katbyte commented on #82
@blunozr,

We have just released v0.9.0 of the stack provider with support for adfs auto detection. Would you mind giving it a go and seeing if it fixes this issue for you? thanks!

[2019-09-03 00:01] katbyte commented on #80
Thanks @jbpaux, closing as suggested.

[2019-09-03 00:01] #80 closed

[2019-09-03 13:38] jbpaux commented on #98
solved for me. Thank you !

[2019-09-03 13:39] jbpaux commented on #82
works for me in disconnected adfs ! thank you

[2019-09-03 19:22] jbmcfarlin31 commented on #98
@katbyte this looks to have fixed our issue and I no longer need to use my own patch. Version `0.9.0` seems to be the one!

[2019-09-04 23:04] katbyte commented on #98
Awesome! great to hear it

[2019-09-04 23:04] #98 closed

[2019-09-04 23:05] katbyte commented on #82
fantastic! thanks for checking

[2019-09-04 23:05] #82 closed

[2019-09-04 23:17] blunozr commented on #82
Yeah. Worked for me too.

Many thanks.

On Wed, Sep 4, 2019, 7:05 PM kt, <notifications@github.com> wrote:

[2019-09-04 23:29] jbmcfarlin31 opened #106 "[REQUEST] Enable Accelerated Networking"
I was comparing the options between azurerm and azure stack, and being involved with a support call today made me look deeper... I noticed azure stack nics have capabilities for enabling accelerated networking - but when I looked in terraform, I did not see the option.

Is this feature going to be implemented in the future? Is it already enabled?

The reference link is [here](https://www.terraform

[2019-09-09 20:01] jbmcfarlin31 commented on #106
UPDATE:

I actually noticed this was already implemented in `azurestack/resource_arm_network_interace.go`, however it was commented out. I verified with the API profile version that supports it and the new profile does support it.

I un-commented the areas that were commented out pertaining to accelerated networking and rebuilt the binary. The binary built successfully, and upon testing it I ran i

[2019-09-13 14:47] jbmcfarlin31 commented on #106
Well, in talking with Microsoft in regards to a separate issue, I found out that Azure Stack does not support accelerated networking as of yet. You can find a list of the differences between Azure and Azure Stack [here](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-network-differences?view=azs-1908).

My guess is it might come down the pipeline later on. This is why when trying to

[2019-10-01 15:15] jbmcfarlin31 opened #107 "[BUG] Can't assign tags to resource group"
I am attempting to assign tags to resource groups that we spin up using terraform, however I keep running into errors saying that the "`tags`" block is not a supported block type.

[code]

Within the Azure Stack portal, I can add tags to the resource groups manually but this is not feasible nor is it good for automated deployments.

I should be able to do something like:
[code]

[2019-10-01 16:26] jbmcfarlin31 commented on #107
Okay, it looks like tags are supported, but the documentation on the terraform site is incorrect.

You can specify tags by doing:
[code]
Instead of:
[code]

[2019-10-17 00:48] pbolduc opened #109 "[Task] Refactor tags into new package to align with azurerm provider"
The terraform-provider-azurerm provider has moved the tag schema, validation and other functions into separate package back in Aug 2019.  Having the terraform-provider-azurerm provider diverge makes it more difficult to create new resources on Azure Stack (ie #50) that are derived from the Azure Cloud.  If the model in the Azure Cloud has stabilized, I propose starting migrating to similar package

[2019-10-17 05:18] pbolduc opened #110 "[Task] Refactor locks into new package to align with azurerm provider"
The terraform-provider-azurerm provider has moved the resource locking functionality into separate package back in Aug 2019. Having the terraform-provider-azurerm provider diverge makes it more difficult to create new resources on Azure Stack (ie #50) that are derived from the Azure Cloud. If the model in the Azure Cloud has stabilized, I propose starting migrating to similar packages in Azure Sta

[2019-10-18 23:46] pbolduc opened #115 "Converge changes from azurerm?"
My goals in my recent contributions, is trying to update the azurestack provider to be more closely aligned with the AzureRM provider.  As mentioned in other issues, the less code that needs to be edited between the two providers allows for easier feature updates.  I would like to be able to take the data source or resource providers for the missing components and just cut stuff out that is not su

[2019-10-23 17:30] sushilkm commented on #39
Quick question is this work in progress or we have some new direction, this is something definitely required, every vm/vmss cannot be booted from a platform image.

[2019-10-23 17:33] sushilkm commented on #115
On the contrary, is there any possibility that we can make azurerm adaptible enough to make it work with stack instead of maintaining two code bases.

[2019-10-23 19:31] pbolduc commented on #115
I am open to suggestions on how to approach this.  I am only a novice Go developer.  I think the different API profiles are the hardest part.   Adding **if** statements all over the place is not a maintainable approach.  The Azure provider moves a lot faster than the Azure Stack one. Suggestions?

[2019-10-23 20:51] sushilkm commented on #115
I agree, I was thinking about it since both have similar codebases, the difference being api_url and api_version, if we can do something about reusing azurerm, that would be great, because that way, we can just reuse whatever comes to azure.

May be other maintainers of this terraform-provider can share their thoughts about how much is this feasible.

[2019-10-23 21:07] pbolduc commented on #115
At minimum, a lot of the support classes that validate names, deal with timeouts, etc should be reusable.  For example, I noticed there is a discrepancy between the validation on a resource group name length.  In azurerm it is 90 and in azurestack it is validates to 80.  I just tested on a 1908 stack and I can create up to 90 in Azure Stack.

https://github.com/terraform-providers/terraform-provid

[2019-10-25 14:43] pbolduc commented on #110
The locks package file is identical to the azurerm locks.go file.  However, the azurerm locks package is internal.  Ideally, both providers could use the same file.  I will raise an issue in the azurerm repository.

[code]

[2019-10-25 20:01] pbolduc commented on #115
Based on the response from this issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/4726  I am going to close this as well for now.  I can see the issues raised where Hashicorp is looking to add staff to help work on the Azure and Azure Stack providers.

[2019-10-25 20:01] #115 closed

[2019-10-25 20:03] pbolduc commented on #110
Going to close this issue/PR for now. It seems there is the intention to add engineering effort on this teams to accelerate the development.

[2019-10-25 20:03] #110 closed

[2019-10-25 20:03] pbolduc commented on #109
Going to close this issue/PR for now. It seems there is the intention to add engineering effort on this teams to accelerate the development.

[2019-10-25 20:03] #109 closed

[2019-11-05 10:41] fijuknous opened #116 "Unable to add ipsec_policy to azurestack_virtual_network_gateway_connection"
Azurestack provider seems to lack the option to attach ipsec_policy to the virtual_network_gateway_connection. Azurerm provider has that ipsec_policy block option available. Is the ipsec_policy block expected to become available for azurestack provider too?

[2019-11-14 12:22] bernardmaltais commented on #39
Somehow the code to make this work is already in the provider source code. I removed the comments on the code and tested that it will properly deploy VMs based on custom images. Not sure why this was left commented out.

I did not notice any other side effects. I created a pull request to fix this issue.

https://github.com/terraform-providers/terraform-provider-azurestack/pull/117

[2019-11-26 01:13] bernardmaltais commented on #39
Not sure what is going on. Pull request appear to be stuck at Travis step... but travis validation is completed...

[2019-11-26 21:19] redshiftz opened #119 "[Feature Request] Add AKS Kubernetes cluster support."
Add AKS Kubernetes cluster support.
AKS has come to the Azure Stack.
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-overview?view=azs-1910

Thank you,
Jeff Young

[2019-12-17 21:56] outworlder commented on #39
How do we get this pull request unstuck?

[2019-12-18 09:25] Anakinn commented on #39
We need this feature enabled. If you try to create VM from custom image it will complain that publisher is missing. This is verified and it is working.

[2019-12-18 16:44] bernardmaltais commented on #39
I really hope they can merge that in a soon to be released update... But this project is strangely quiet.

[2020-01-22 07:52] Anakinn commented on #39
This is still ignored?!? @katbyte

[2020-01-22 12:18] bernardmaltais commented on #39
I am losing faith in this provider... not much is being done and Azurestack support in terraform is really falling behind... to a point where it is less and less interesting to us.

[2020-01-22 16:08] petems commented on #39
I'll see if I can get the team to get some eyes on the PR, sorry about the wait! 😄

[2020-01-24 15:16] jbpaux commented on #119
It's not exactly AKS but AKS Engine ;) which is not the same service

[2020-02-07 07:51] Anakinn commented on #39
Guess this is not going to happen.

[2020-02-11 01:24] outworlder commented on #39
I'm starting to think this project is actually abandoned. If so, it should be marked as such. It's borderline unusable with several major omissions(with this issue being one of the biggest offenders). Contributing to it doesn't sound like a good proposition since commits languish in PR hell. Which is mind blowing, as the proposed PR looks exactly the same as the code that already exists in AzureRM

[2020-03-03 12:45] jbpaux commented on #39
IMHO the provider should be rewritten, deprecated or we should be able to use the azurerm provider directly on azure stack (knowing some parts won't work as api are behind and most of resources unavailable)

[2020-03-05 08:44] jbpaux commented on #106
I think we should close this issue as it's not relevant, and not en enhancement.

[2020-03-09 14:57] jbmcfarlin31 commented on #106
@jbpaux It would be an enhancement once azure stack adds support for it. That being said, I don't know when that would come down the pipeline (if at all). I don't understand how it is not relevant, other than it currently is not supported in azure stack.

We can close if you feel the need to and just re-open when/and if the feature comes.

[2020-03-09 14:57] #106 closed

[2020-05-25 20:55] stjeanl1 opened #122 "[Feature Request] Add missing storage resource types."
Hello,

I cannot find a resource type or method of creating storage tables and queues in the Azure Stack provider while it is supported using the Azure provider (azurerm_storage_table, azurerm_storage_queue).

I only see three available resource types in Azure Stack:

azurestack_storage_account
azurestack_storage_container
azurestack_storage_blob

Is there a plan to expand the available storage re

[2020-06-16 19:22] sushilkm opened #123 "Enable the Azure Stack Terraform Provider to support customer-images to boot up VMs"
Use custom-built images for booting up VMs and VMSS without publishing them as platform images.

[2020-06-16 19:23] sushilkm opened #124 "Enable the Azure Stack Terraform Provider to support Key Vault"

[2020-09-09 09:32] bottkars commented on #123
anyone working on that ????

[2020-09-29 17:12] rzand opened #125 "VM extension - The value of parameter typeHandlerVersion is invalid"
Hello, I cannot get the azurestack_virtual_machine_extension working on a Windows VM.
The  **az vm extension image list --location someplace -o table**  command shows
Name                                       Publisher                             Version
------------------------  ------------------------------------  -----------
CustomScriptExtension     Microsoft.Compute                     1.9.

[2020-10-12 11:46] rzand commented on #125
I solved the above by using
type_handler_version = "1.9"
instead of
type_handler_version = "1.9.3"
Regards.

[2020-12-14 18:46] virtrixke commented on #119
From the release notes for ASH 2008:

_This release of Azure Stack Hub includes a private preview of Azure Kubernetes Service (AKS) and Azure Container Registry (ACR). The purpose of the private preview is to collect feedback about the quality, features, and user experience of AKS and ACR on Azure Stack Hub._

I think this would be a killer feature to have terraform support on-premises and in azur

[2021-01-22 18:51] stravze opened #126 "azurestack_lb public_ip_address_id Cycle issue"
Unable to assign azurestack load balancer with a public ip address, copied the supporting documentation
[code]

Keep getting the following error

**Error: Cycle: azurestack_public_ip.pips, azurestack_lb.lb**

I have tried the following:
different terraform versions 0.12.2 + 0.12.20 + 0.13.5
different stack provider versions 0.8.1 + 0.9.0

I can provision a public ip address and the load balancer b

[2021-04-27 03:54] zhicaigian opened #127 "Features request"
@thetonymaster @katbyte
Sorry for the ping, but is the Terraform Azurestack Provider at its final release?

There have been features such as **Key Vault** & **Azure Monitor** in _Azure stack Hub_, albeit only accessible from the Azure Stack Hub Portal which isn't ideal :
1. https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-key-vault-intro?view=azs-2008
2. https://docs.microsoft.com/en-

[2021-04-28 16:10] morallito opened #129 "Feature request: Improve docks about vm_size"
I'm starting to create my infrastructure in Azure using Terraform. In order to create a mirror from my azure account, I had created a list with all my vm sizes, founded a Azure equivalent for all the vms and checked if the vm's that i had chosen are available n  the region west us 2.

Now, that I want to create some vm's, the terraform interface is showing me that
[code]

when I go to the Azure pa

[2021-04-29 11:11] kcighon commented on #127
Second this feature request please - for both resource and data sources:

https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/key_vault
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/key_vault_secret

https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/data-sources/key_vault
https://registry.terraform.io/providers/hashi

[2021-05-03 15:01] jbpaux commented on #129
It has nothing related to Azure Stack. Please use the azurerm provider and have a look at the documentation.

[2021-05-03 15:04] jbpaux commented on #127
It's #124  duplicate, can be closed

[2021-05-06 06:57] jimchurches opened #131 "[Feature Request] Azure Stack Hub vNet Peering"
Is vNet Peering supported in the Azure Stack provider?

If not can I request support?

It is late in the day so I might be missing something.

Thanks.

[2021-05-11 18:36] #129 closed

[2021-09-17 08:52] obikay200 opened #136 "[DOCS] missing info for vmss network profile"
Im trying to associate a load balance to a vmss.

when looking at the documentation i would presume that the link to a backend pool would be done under the ip_configuration block in network profile.

but looking at the docs it seems to be missing

https://registry.terraform.io/providers/hashicorp/azurestack/latest/docs/resources/virtual_machine_scale_set#ip_configuration

as i cant see it on the p

[2021-09-21 23:53] syunwei commented on #125
Thank you for sharing!!! Bumped into the same error because of version number as well.

[2021-10-19 09:06] tah21 opened #137 "when calling VM SKU with uppercase 'V' in the SKU name - VM exhibits slow network performance and unable to add additional NICs"
When using Terraform to deploy a VM on Azure Stack Hub, referencing a VM SKU which has an uppercase 'V' in the SKU name i.e. "Standard_F16s_V2" causes VM to have network performance issues and the ability to add additional NICs to the VM is not possible. Solution is to make sure the SKU being called has a lowercase 'v' in the name i.e. "Standard_F16s_v2" however I feel that this should be captured

[2021-11-08 01:39] zhicaigian opened #138 "[Feature request] Add source_address_prefixes & destination_address_prefixes to azurestack_network_security_rule"
Hi all,

I've been using terraform for azurestack and noticed that even though the Azure Portal allows specifying rule with multiple addresses delimited by commas, the current terraform provider for azurestack doesn't have the following argument references:
source_address_prefix**es**
destination_address_prefix**es**

This means to create a rule with multiple source address, you have to split the

[2021-11-23 22:32] AgileWish commented on #124
Is there any progress on this?  Is this even looked at?

[2021-11-29 16:46] user-987654321 opened #139 "Abandoned??"
If this has been abandoned can it be made clear

Thanks

[2021-11-29 20:27] tombuildsstuff commented on #139
hi @user-987654321

Thanks for opening this issue.

The Azure Stack provider remains a fully supported Provider and is not abandoned, however the nature of the Azure Stack product means that there's less functionality being added to Azure Stack relative to Azure Public.

Since this is a question rather than a bug in the Provider and this forum is intended to be used for feature enhancements and bu

[2021-11-29 20:27] #139 closed

[2021-12-05 10:50] bayerb opened #140 "azurerm_virtual_machine_extension - typeHandlerVersion with InvalidParameter"
Hi,

running apply on code

resource "azurerm_virtual_machine_extension" "vm-bootstrap" {
 count = "1"
 name                 = "bootstrap"
 virtual_machine_id = ...
 publisher            = "Microsoft.Azure.Extensions"
 type                 = "CustomScript"
 type_handler_version = "2.1.6"
 settings = <<SETTINGS
   {
      "script": "${filebase64("bootstrap.sh")}"
   }
SETTINGS
}

returns the follow

[2021-12-15 05:00] tombuildsstuff commented on #140
hi @bayerb

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Stack Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be

[2021-12-15 05:00] #140 closed

[2022-01-16 01:33] katbyte commented on #127
#124 is key vault only so going to amend this to me for azure stack metrics

[2022-02-16 11:43] torbendury commented on #125
This is still an issue.

[2022-03-23 18:55] robertdias opened #172 "Support for Key Vault"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-22 02:02] TheBlackMini commented on #131
vNet peering is due in 1.0.0
https://github.com/hashicorp/terraform-provider-azurestack/pull/147

No idea when 1.0.0 is going to be released though!

[2022-04-22 02:04] TheBlackMini commented on #172
KeyVault is in release 1.0.0
https://github.com/hashicorp/terraform-provider-azurestack/pull/151

No idea when this is getting released though!

[2022-05-06 15:42] kiazhi commented on #125
Very interesting behaviour indeed. Bumped into this issue too.

Instead of the below:
[code]
I have to specify it as below:
[code]

[2022-06-17 12:31] DeclanKainos commented on #125
Also experiencing this issue right now, setting to 1.9 doesnt fix it for me, i've tried several versions but my CSE still fails on Windows

[2022-07-12 10:45] salvorusso opened #191 "Ignore Root Certification Authority"
## Description

It would be great if there was a way to ignore an unknown certification authority.
I've seen something similar in other providers configuration.
Often azure stack is installed with self signed certificates: it is difficult to import them.

[code]

### New or Affected Resource(s)

* azurestack_0.10.0

### Potential Terraform Configuration

[code]

### References

* [#0000](https://r

[2022-07-12 10:47] pirafrank commented on #191
up this

much needed

[2022-07-18 09:38] jbpaux commented on #172
Can be closed as v1.0.0 is released

[2022-07-18 09:38] jbpaux commented on #131
Can be closed as v1.0.0 is released

[2022-07-29 04:03] FawenYo opened #195 "123"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-05 17:29] khalid-lemghari opened #196 "[azurestack_image][hyper_v_generation] hyperVGeneration is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-25 15:13] matthorgan opened #197 "Azurestack ASDK - Error: determining environment: unable to locate metadata for environment "stack" from custom metadata host "management.local.azurestack.external""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 00:40] TheBlackMini commented on #197
The provider seems to be ignoring "environment" / "ARM_ENVIRONMENT"

[2022-10-18 10:07] paul-towler commented on #195
This also applies to azurestack_subnet

[2022-10-26 22:52] jsburckhardt commented on #195
the azurestack_subnet is also missing route_table_id